body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #container {
    position: relative;
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
  }

  .tank {
    width: 100px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    bottom: 0;
    transition: 0.6s;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  .pump {
    width: 30px;
    height: 30px;
    background-color: #2ecc71;
    position: absolute;
    bottom: 150px;
    left: 35px;
    border-radius: 50%;
    transition: 0.6s;
    cursor: pointer;
  }
  .value {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #2c3e50;
  }
  @keyframes particleAnimation {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(
          calc(-50% + (random() - 0.5) * 200px),
          calc(-50% + (random() - 0.5) * 200px)
        )
        scale(0);
      opacity: 0;
    }
  }
  @keyframes explosionAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  .explosion {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    animation: explosionAnimation 0.5s ease-out;
  }
  .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: particleAnimation 0.5s ease-out;
  }



